<section class="phx-hero">
  <a href="/auth?send_code=phone">Get authorization code</a>
  <p> Client status: <%= assigns[:client_status] %> </p>
  <p> Auth state: <%= assigns[:auth_state] %> </p>
</section>
